[Application]
name=Pymorr
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=main:main

[Python]
version=3.6.2

[Include]
# Importable packages that your application requires, one per line
packages = pymorr
    view_utils
    image_loader
    controller
pypi_wheels = PyQt5==5.9